In [1]:
import os

path = '/c/Users/zkovacs/AppData/Local/Temp/1553693391408-0/'

files = []
# r=root, d=directories, f = files
for r, d, f in os.walk(path):
    for file in f:        
        files.append(os.path.join(r, file))

            
for f in files:
    print(f)

/c/Users/zkovacs/AppData/Local/Temp/1553693391408-0/.test.pq.crc
/c/Users/zkovacs/AppData/Local/Temp/1553693391408-0/test.pq

In [2]:
#requires pyarrow
import pyarrow.parquet as pq

In [3]:
table2 = pq.read_table('/c/Users/zkovacs/AppData/Local/Temp/1553883690551-0/test.pq')

frame=table2.to_pandas()

/home/zkovacs/miniconda3/envs/nb36/lib/python3.6/site-packages/pyarrow/pandas_compat.py:752: FutureWarning: .labels was deprecated in version 0.24.0. Use .codes instead.
  labels, = index.labels

In [4]:
df2=frame[["myDate","myDecimal"]]

# requires matplotlib 
#df2.plot(x='myDate', y='myDecimal')
df2.dtypes

myDate       datetime64[ns]
myDecimal            object
dtype: object

In [5]:
df2[['myDecimal']].dtypes

myDecimal    object
dtype: object

In [6]:
import pandas as pd
pd.to_numeric(df2['myDecimal'], downcast='float', errors='coerce')

0         -99.999901
1         -99.999802
2         -99.999702
3         -99.999603
4         -99.999496
5         -99.999397
6         -99.999298
7         -99.999199
8         -99.999100
9         -99.999001
10        -99.998901
11        -99.998802
12        -99.998703
13        -99.998596
14        -99.998497
15        -99.998398
16        -99.998299
17        -99.998199
18        -99.998100
19        -99.998001
20        -99.997902
21        -99.997803
22        -99.997704
23        -99.997597
24        -99.997498
25        -99.997398
26        -99.997299
27        -99.997200
28        -99.997101
29        -99.997002
             ...
1999968    99.996902
1999969    99.997002
1999970    99.997101
1999971    99.997200
1999972    99.997299
1999973    99.997398
1999974    99.997498
1999975    99.997597
1999976    99.997704
1999977    99.997803
1999978    99.997902
1999979    99.998001
1999980    99.998100
1999981    99.998199
1999982    99.998299
1999983    99.998398
1999984    99.998497
1999985    99.998596
1999986    99.998703
1999987    99.998802
1999988    99.998901
1999989    99.999001
1999990    99.999100
1999991    99.999199
1999992    99.999298
1999993    99.999397
1999994    99.999496
1999995    99.999603
1999996    99.999702
1999997    99.999802
Name: myDecimal, Length: 1999998, dtype: float32

In [11]:
df2['myDate']

0         2014-05-14 00:00:00.000000000
1         2014-05-15 00:00:00.000000000
2         2014-05-16 00:00:00.000000000
3         2014-05-17 00:00:00.000000000
4         2014-05-18 00:00:00.000000000
5         2014-05-19 00:00:00.000000000
6         2014-05-20 00:00:00.000000000
7         2014-05-21 00:00:00.000000000
8         2014-05-22 00:00:00.000000000
9         2014-05-23 00:00:00.000000000
10        2014-05-24 00:00:00.000000000
11        2014-05-25 00:00:00.000000000
12        2014-05-26 00:00:00.000000000
13        2014-05-27 00:00:00.000000000
14        2014-05-28 00:00:00.000000000
15        2014-05-29 00:00:00.000000000
16        2014-05-30 00:00:00.000000000
17        2014-05-31 00:00:00.000000000
18        2014-06-01 00:00:00.000000000
19        2014-06-02 00:00:00.000000000
20        2014-06-03 00:00:00.000000000
21        2014-06-04 00:00:00.000000000
22        2014-06-05 00:00:00.000000000
23        2014-06-06 00:00:00.000000000
24        2014-06-07 00:00:00.000000000
25        2014-06-08 00:00:00.000000000
26        2014-06-09 00:00:00.000000000
27        2014-06-10 00:00:00.000000000
28        2014-06-11 00:00:00.000000000
29        2014-06-12 00:00:00.000000000
                       ...
1999968   2229-02-08 03:48:56.614035456
1999969   2229-02-09 03:48:56.614035456
1999970   2229-02-10 03:48:56.614035456
1999971   2229-02-11 03:48:56.614035456
1999972   2229-02-12 03:48:56.614035456
1999973   2229-02-13 03:48:56.614035456
1999974   2229-02-14 03:48:56.614035456
1999975   2229-02-15 03:48:56.614035456
1999976   2229-02-16 03:48:56.614035456
1999977   2229-02-17 03:48:56.614035456
1999978   2229-02-18 03:48:56.614035456
1999979   2229-02-19 03:48:56.614035456
1999980   2229-02-20 03:48:56.614035456
1999981   2229-02-21 03:48:56.614035456
1999982   2229-02-22 03:48:56.614035456
1999983   2229-02-23 03:48:56.614035456
1999984   2229-02-24 03:48:56.614035456
1999985   2229-02-25 03:48:56.614035456
1999986   2229-02-26 03:48:56.614035456
1999987   2229-02-27 03:48:56.614035456
1999988   2229-02-28 03:48:56.614035456
1999989   2229-03-01 03:48:56.614035456
1999990   2229-03-02 03:48:56.614035456
1999991   2229-03-03 03:48:56.614035456
1999992   2229-03-04 03:48:56.614035456
1999993   2229-03-05 03:48:56.614035456
1999994   2229-03-06 03:48:56.614035456
1999995   2229-03-07 03:48:56.614035456
1999996   2229-03-08 03:48:56.614035456
1999997   2229-03-09 03:48:56.614035456
Name: myDate, Length: 1999998, dtype: datetime64[ns]

In [12]:
df2['myDecimal'].astype(float)

0         -99.9999
1         -99.9998
2         -99.9997
3         -99.9996
4         -99.9995
5         -99.9994
6         -99.9993
7         -99.9992
8         -99.9991
9         -99.9990
10        -99.9989
11        -99.9988
12        -99.9987
13        -99.9986
14        -99.9985
15        -99.9984
16        -99.9983
17        -99.9982
18        -99.9981
19        -99.9980
20        -99.9979
21        -99.9978
22        -99.9977
23        -99.9976
24        -99.9975
25        -99.9974
26        -99.9973
27        -99.9972
28        -99.9971
29        -99.9970
            ...
1999968    99.9969
1999969    99.9970
1999970    99.9971
1999971    99.9972
1999972    99.9973
1999973    99.9974
1999974    99.9975
1999975    99.9976
1999976    99.9977
1999977    99.9978
1999978    99.9979
1999979    99.9980
1999980    99.9981
1999981    99.9982
1999982    99.9983
1999983    99.9984
1999984    99.9985
1999985    99.9986
1999986    99.9987
1999987    99.9988
1999988    99.9989
1999989    99.9990
1999990    99.9991
1999991    99.9992
1999992    99.9993
1999993    99.9994
1999994    99.9995
1999995    99.9996
1999996    99.9997
1999997    99.9998
Name: myDecimal, Length: 1999998, dtype: float64

In [14]:
x=df2['myDate']
y=df2['myDecimal'].astype(float)
pd.DataFrame([x,y])
#df2.update(x)

TypeError: invalid type promotion